{% extends 'shopapp/base.html' %}

{% block title %}{{ client.name }}'s Products{% endblock %}

{% block content %}
<body class="body__products">
    <div class="container__products">
        <div class="dop__container">
            <div class="dop1__container">
                <div class="back__client">
                    <a class="button__back" href="{% url 'client' client.id %}">Back to client {{ client.name }}</a>
                </div>
            </div>
            <div class="dop2__container">
                <div class="filter2__container">
                    {% for filter in filters %}
                    <div class="filter__client">
                        <a class="button__client" href="{% url 'products' client.id filter %}">{{ filter }}</a>
                    </div>
                    <div class="text__client">
                        text
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="dop3__container">
                <div class="products__container">
                    {% for product, photo in products %}
                        <div class="dop4__container">
                            <div class="photo__container">
                                <img class="photo" src="{{ MEDIA_URL }}/media/{{ photo.name }}" onerror="this.style.visibility = 'hidden'">
                                <a class="photo__url" href="{% url 'photo_add' product.id %}"></a>
                            </div>
                        </div>
                        <div class="title__name">
                            {{ product.name }}
                        </div>
                        <div class="text1__products">
                            text
                        </div>
                        <table>
                            <tr><th>price</th><th class="right__column">{{ product.price }}</th></tr>
                            <tr><td>quantity</td><td class="right__column">{{ product.quantity }}</td></tr>
                            <tr><td>date</td><td class="right__column">{{ product.date }}</td></tr>
                            <tr><td class="last__td">description</td><td class="last__tdcolumn">{{ product.get_summary }}</td></tr>
                        </table>
                        <div class="text2__products">
                            text
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
